.footer {
    background-color: #f1f1f1;
}

.footer-box {
    margin: 0 90px 0 90px;
}

.footer-logo {
    padding: 46px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ft-content-title {
    margin-bottom: 22px;
    margin-top: 34px;
}

h5 {
    margin-bottom: 21px;
}

.ft-content-contact {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 11px 0;
}

.ft-phone,
.ft-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-email .email {
    margin-left: 0;
}

.ft-content-address,
span {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.15em;
    color: #000;
}

.ft-list {
    list-style-type: none;
}

.ft-item {
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.15em;
    color: #000;
    margin-bottom: 15px;
}

.ft-content-social {
    margin-top: 87px;
    display: flex;
    gap: 0 30px;
}

.ft-content-social img {
    cursor: pointer;
}

.footer-origin {
    margin-top: 84px;
    padding-bottom: 34px;
    text-align: center;
    color: #000;
}